.profile {
    max-width: 450px;
    background-color: #15ebeb;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .8);
}

.description {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 24px;
    background-color: rgb(255, 255, 255);;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .6);
}

.avatar {
    width: 240px;
    height: 240px;
    border-radius: 10px;
    background-color: rgb(41, 213, 84);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .8);
}

.username {
    font-size: x-large;
    font-weight: 700;
    color: rgb(73, 73, 73);
    margin-bottom: 14px;
}

.tag {
    font-size: medium;
    color: rgb(73, 73, 73);
    margin-bottom: 10px;
}

.location {
    font-size: medium;
    color: rgb(73, 73, 73);
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    background-color: rgb(252, 244, 244);
    padding-left: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .6);
 
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 80px;
    border: 1px solid rgb(196, 178, 178);
}

.label {
    margin-bottom: 10px;
    color: rgb(73, 73, 73);
}

.quantity {
    color: rgb(73, 73, 73);
}