ul, li {
    list-style: none;
 padding: 0px;
}


.statistics {
    max-width: 470px;
    margin: 40px auto;
    border: 1px solid rgb(196, 178, 178);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .8);
    border-radius: 5px;
    background-color: #15ebeb;
}

.title {
    font-size: x-large;
    font-weight: 700;
    color: rgb(73, 73, 73);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 24px;
}

.statList {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.item {
    width: 70px;
    border: 1px solid rgb(196, 178, 178);
    border-radius: 5px;
}

.label {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.percentage {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;

}