.transactionHistory {
    color: rgb(73, 73, 73);
    width:  470px;
    border-collapse: collapse;
    border-radius: 5px;
    text-align: center;
    margin:40px auto;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .8);
    @media screen and (max-width: 767px) {
        width: 450px;
    
        }
}

th {
 
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: x-large;
    padding: 5px 0 5px 0;
}

td {
  
    font-weight: 300;
    font-size: large;
    padding: 15px 0 ;
}

/*
tr:nth-child(even) {
    background-color: #15ebeb;
}*/