.transactionHistory {
    color: rgb(73, 73, 73);
    width: 470px;
    border-collapse: collapse;
    border: 1px solid rgb(196, 178, 178);
    border-radius: 5px;
    text-align: center;
    margin:40px auto;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .8);
}

th {
    border: 1px solid rgb(196, 178, 178);
    background-color: rgb(196, 178, 178);
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: x-large;
    padding: 5px 0 5px 0;
}

td {
    border: 1px solid rgb(196, 178, 178);
    font-weight: 300;
    font-size: large;
    padding: 5px 0 5px 0;
}

/*
tr:nth-child(even) {
    background-color: #15ebeb;
}*/